* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.App {
  width: 100%;
  justify-content: center;
  padding: 20px
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between; 
  align-items: center;
}


Form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  margin-top: 20px;
}

.span{
  background-color: rgb(14, 137, 141);
  color: white;
  margin-right: 5px;
  margin-top: 20px;
  font-size: 10px;
  padding: 10px;
  border-radius: 20px;
}

.span_current{
  background-color: rgb(14, 137, 141);
  color: white;
  margin-right: 5px;
  margin-top: 20px;
  font-size: 10px;
  padding: 10px;
  border:solid 5px rgb(207, 0, 0);
  border-radius: 20px;
}

.navbar{
  height: 50px;
  width: 100vm;
  display: flex;
  align-items: center;
  padding: 0,15px;
  background: lightgrey;
}

.navbar__links{
  margin-left: auto;
}

.post_btns{
  display: flex;
  justify-content: right;
  width: 100%;
}

.post_btns button{
  margin-left: 10px;
}